<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="assets/img/logo.png" id="logo" width="43" height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <div class="social-links">
                <a class="linkedin" href="https://www.linkedin.com/in/jwayyed-jwayyed-b356b921b" target="_blank"><i class="fa fa-brands fa-linkedin fa-xl"></i></a>
                <a class="tiktok" href="#" target="_blank"><i class="fa fa-brands fa-tiktok fa-xl"></i></a>
            </div>
        </div>
    </div>
</nav>


.navbar{
    width: 100%;
    background-color: black;
    min-height: 8vh;
}

.navbar-brand img{
    max-width: 45px;
    max-height: 50px;
}

.navbar-nav{
    font-size: 20px;
    margin-right: 60px;
}

.nav-link{
    color: white;
}

.social-links a{
    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-left: 10px;
}

.linkedin:hover, .tiktok:hover{
    color: #999999;
}

<div class="card-container">
                <div class="row mb-5">
                    <div class="col-md-4" id="firstcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1423592707957-3b212afa6733?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Immigration</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, officiis, quod magni asperiores voluptatum nesciunt praesentium eius quia rerum eligendi, delectus eaque debitis aliquid porro. Error, provident. Tempora, consequuntur at?
                                </p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="secondcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Drunk Driving</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta eum facere voluptatum atque fugit autem accusamus, voluptas laboriosam nisi impedit corporis eveniet, commodi possimus expedita enim temporibus minus itaque odit.</p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="thirdcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Speeding Ticket</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error quia excepturi ducimus reiciendis! Itaque ipsam laudantium labore sunt reiciendis porro at. Mollitia necessitatibus doloremque non, voluptatem repellat hic in?</p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row mb-5 cstm-height-card">
                    <div class="col-md-4" id="fourthcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1589994965851-a8f479c573a9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Wills</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi beatae ut rerum numquam ad, soluta facilis. Voluptas harum quidem fugiat ratione quis necessitatibus voluptatum, quos sit dignissimos, distinctio molestiae illum?</p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="fifthcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1447968954315-3f0c44f7313c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1548&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">City Defense</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam nulla amet laborum tempora corrupti? Fugit assumenda impedit consequatur quis ducimus ab incidunt quae? Pariatur quibusdam, molestiae quo sint recusandae nemo.</p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="sixthcard">
                        <div class="card">
                            <img id="card-image" src="https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1742&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Business Dispute</h5>
                                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus consequatur necessitatibus facilis consectetur molestiae error voluptate. Quibusdam eaque, quasi ipsa velit delectus fugit quidem cum sequi perferendis obcaecati in quaerat.</p>
                                <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
.card-container{
    min-height: 100px;
    min-width: 100px;
}

#card-image {
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.card-title{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text{
    font-size: 1.5em;
}