<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="assets/img/logo.png" id="logo" width="43" height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <div class="social-links">
                <a class="linkedin" href="https://www.linkedin.com/in/jwayyed-jwayyed-b356b921b" target="_blank"><i class="fa fa-brands fa-linkedin fa-xl"></i></a>
                <a class="tiktok" href="#" target="_blank"><i class="fa fa-brands fa-tiktok fa-xl"></i></a>
            </div>
        </div>
    </div>
</nav>


.navbar{
    width: 100%;
    background-color: black;
    min-height: 8vh;
}

.navbar-brand img{
    max-width: 45px;
    max-height: 50px;
}

.navbar-nav{
    font-size: 20px;
    margin-right: 60px;
}

.nav-link{
    color: white;
}

.social-links a{
    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-left: 10px;
}

.linkedin:hover, .tiktok:hover{
    color: #999999;
}

