
@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald-Medium.ttf");
}

*{
    font-family: Oswald, serif;
}

html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    width: 100%;
    background-color: black;
    min-height: 10vh;
}

.navbar-nav{
    font-size: 20px;
    margin-right: 60px;
}

.nav-link{
    color: white;
}

.social-links a{
    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-left: 10px;
}

.linkedin:hover, .tiktok:hover{
    color: #999999;
}

/* main page */
#hero{
    background: url("../img/jj-background.png") fixed right;
    min-height: 90vh;
    background-size: cover;
    object-fit: contain;
    color: white;
    width: 100%;
}

.main-display{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* about me page */
#about-me{
    background-color: #fff;
    min-height: 60vh;
    color: black;
}

.heading-about{
    display: flex;
    justify-content: center;
    position: relative;
}

#about-me-header{
    padding-top: 2vh;
    padding-bottom: 20px;
    font-weight: bold;
}

#border-line-about{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.about-page-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* services page */
#services{
    background-color: white;
    min-height: 400vh;
    text-align: center;
}

.service-title{
    display: flex;
    justify-content: center;
    position: relative;
}

#service-h1{
    padding-bottom: 20px;
    font-weight: bold;
}

#border-line-service{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

/* ! pics view */
.services-pics-view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pics-slide{
    width: 200px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    transition: all 500ms;
    object-fit: cover;
}

.pics-slide:hover{
    width: 500px;
    opacity: 0.8;
}

.img-box:hover{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.img-box h3{
    color: black;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.img-box:hover h3{
    transition-delay: 100ms;
    transition: all 1000ms;
    opacity: 1;
}

.img-box h3:hover{
    opacity: 0;
}

.service-Drunk{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(40%,60%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;
   
}
.service-Speed{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(175%,-43%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;
   

}
.service-Immigration{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(40%,10%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;

}
.service-Wills{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(175%,-94%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;

}
.service-Defense{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(175%,-45%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;

}
.service-Disputes{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translate(40%,-146%);
    background: linear-gradient(transparent);
    border-radius: 20px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .7);
    margin: 0 8px 8px 8px;
    transition: 0.3s;
    box-sizing: border-box;
    padding: 10px;
    max-width:350px;
    margin-right: 100;
    height:250px;
    

}
#border-line-Drunk{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    transform: translate(267%,-53px);
    

}
#border-line-speed{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    transform: translate(750%,-310px);
    
}
#border-line-Immigration{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    transform: translate(273%, -180px);
}
#border-line-Wills{
    border-top: solid dimgrey 1px;
    width: 40px;
    position: absolute;
    transform: translate(1940%, -440px);

}
#border-line-Defense{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    transform: translate(275%, -310px);

}
#border-line-Disputes{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    transform: translate(750%, -575px);

}


@media screen and (max-width: 991px) {
    #hero{
        min-height: 100vh;
        background: url("../img/jj-background-mobile.png") center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-display h1{
        font-size: 90px;
    }
    .main-display h4{
        font-size: 40px;
    }
    .navbar-nav{
        font-size: 40px;
    }
    .navbar-brand{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #logo{
        width: 70px;
        height: 75px;
    }
    .social-links a{
        font-size: 35px;
    }
}