
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald-Medium.ttf");
}

*{
    font-family: Oswald, serif;
}

html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    background-color: black !important;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.nav-link:hover{
    color: #5B5754;
}

.navbar-toggler{
    border: 1px solid white
}

#offcanvasNavbarLabel{
    color: white;
}

.offcanvas{
    background-color: black !important;
}

.btn-close{
    border: 2px solid white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 1 !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.00%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* main page */
#hero{
    background: url("../img/jj-background.png") fixed right;
    min-height: 100vh;
    background-size: cover;
    object-fit: contain;
    color: white;
    width: 100%;
}

.main-display{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* about me page */
#about-me{
    background-color: #fff;
    min-height: 60vh;
    color: black;
}

.heading-about{
    display: flex;
    justify-content: center;
    position: relative;
}

#about-me-header{
    padding-top: 2vh;
    padding-bottom: 20px;
    font-weight: bold;
}

#border-line-about{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.about-page-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-page-pics{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 100px;
}

#middlepicabout{
    margin-right: 20px;
    margin-left: 20px;
}

.about-page-pics img{
    max-width: 400px;
    max-height: 300px;
}

/* quote */
#quote{
    min-height: 50vh;
    background-color: #5B5754;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text{
    text-align: center;
}

.quote-text img{
    width: 70px;
    height: 55px;
    margin-bottom: 10px;
}

#quote-name{
    font-weight: bold;
    margin-top: 20px;
}

/* services page */
#services{
    background-color: white;
    min-height: 150vh;
    text-align: center;
}

.service-title{
    display: flex;
    justify-content: center;
    position: relative;
}

#service-h1{
    margin-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

#border-line-service{
    border-top: solid dimgrey 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}

.card-container{
    min-height: 100px;
    min-width: 100px;
}

#card-image {
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
}

.card-title{
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text{
    font-size: 1.5em;
}

/* contact */
#contact{
    min-height: 50vh;
    background-color: black;
    color: white;
}

.contact-text{
    text-align: center;
    margin-top: 70px;
}

#border-line-contact{
    border: 2px solid white;
    margin-top: 170px;
}

.icons {
	display: flex;
    align-items: center;
    justify-content: center;
	column-gap: 25px;
}
.icon {
	display: inline-flex;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	outline-offset: 4px;
}

.icon i {
	margin: auto;
}

.icon:hover i {
	animation: shake 0.25s;
}

.icon--linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}

.icon--tiktok:hover {
	background-color: red;
	outline-color: red;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}


@media screen and (max-width: 991px) {
    /* navbar */
    
    /* coverpage */
    #hero{
        background: url("../img/jj-background-mobile.png") center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-display h1{
        font-size: 90px;
    }
    .main-display h4{
        font-size: 40px;
    }
}

@media screen and (max-width: 1260px) {
    /* aboutpage */
    .about-page-pics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-page-pics img{
        width: 100%;
    }
    #middlepicabout{
        margin: 20px 0 20px 0;
    }
    /* services */
    #secondcard, #thirdcard, #fifthcard, #sixthcard{
        margin-top: 30px;
    }
    .cstm-height-card{
        margin-top: 0;
    }
}

@media screen and (max-width: 830px) {
    /* coverpage */
    #hero{
        background: url("../img/jj-background-mobile3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 75% 100%;
    }
    #title{
        font-size: 40px;
    }
    .main-display h4{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    /* coverpage */
    #hero{
        background: url("../img/jj-background-mobile4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85% 80%;
    }
}

@media screen and (max-width: 540px) {
    /* coverpage */
    #hero{
        background-position: 90%;
    }
    .main-display{
        margin: 200px;
        margin-right: auto;
        margin-left: auto;
        width: 350px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 0;
        transform: 0;
    }
    #title{
        font-size: 50px;
    }
    .main-display h4{
        font-size: 17px;
    }
}