
.navbar{
    position:absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 9999;
}

.navbar-nav{
    text-transform:capitalize;
    font-size: 24px;
    font-weight: 500;
   
}

.social-links a{
    width: 36px;
    height: 36px;
    color:var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 18px;
    margin-left: 5px;
}

 .linkedin:hover{
    background-color:white;
}
.Tiktok:hover{
    background-color: white;
}

#hero{
    background: url("../img/temp_pic.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
}

#services{
    background-color: white;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.main-display{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#title{
    font-weight: bold;
}

#about-me{
    background-color: #052c65;
    min-height: 60vh;
    color: black;
}

.heading-about{
    display: flex;
    justify-content: center;
    position: relative;
}

#about-me-header{
    padding-bottom: 20px;
}

#border-line{
    border-top: solid white 1px;
    width: 100px;
    position: absolute;
    bottom: 0;
}